In [1]:
import os
from os import chdir, listdir, system, popen
import pandas as pd
import numpy as np

<h2>CUI Count for Disease Mentions in UMLS</h2>

In [2]:
disease_name = pd.read_pickle("./disease_name.pkl")
disease_name = disease_name.rename(columns={"Disease": "Disease_Mentions(UMLS)"})
x = disease_name.reset_index()
x = x.groupby(by='Disease_Mentions(UMLS)').agg('count')
x = x.reset_index()
x

    Disease_Mentions(UMLS)     CUI
0                        1  115981
1                        2   91342
2                        3   49499
3                        4   21415
4                        5   11841
..                     ...     ...
80                      97       1
81                     113       1
82                     114       1
83                     116       1
84                     137       1

[85 rows x 2 columns]

<h2>CUI Count for Disease Definitions in UMLS</h2>

In [3]:
CUI_count = pd.read_pickle("./CUI_count.pkl")
CUI_count = CUI_count.rename(columns={"DEF": "Disease_Definitions(UMLS)"})
x1 = CUI_count.reset_index()
x1 = x1.groupby(by='Disease_Definitions(UMLS)').agg('count')
x1 = x1.reset_index()
x1

    Disease_Definitions(UMLS)    CUI
0                           1  43581
1                           2   6668
2                           3   1683
3                           4    724
4                           5    396
5                           6    197
6                           7    107
7                           8     51
8                           9     19
9                          10      4
10                         12      1
11                         13      1

<h2>CUI Count for Drug Mentions in UMLS</h2>

In [4]:
drug_name = pd.read_pickle("./drug_name.pkl")
drug_name = drug_name.rename(columns={"Drug": "Drug_Mentions(UMLS)"})
x2 = drug_name.reset_index()
x2 = x2.groupby(by='Drug_Mentions(UMLS)').agg('count')
x2 = x2.reset_index()
x2

     Drug_Mentions(UMLS)     CUI
0                      1  354142
1                      2  137893
2                      3   63001
3                      4   29442
4                      5   15272
..                   ...     ...
108                  192       1
109                  201       1
110                  239       1
111                  311       1
112                  583       1

[113 rows x 2 columns]

<h2>CUI Count for Drug Definitions in UMLS</h2>

In [5]:
drugdef_name = pd.read_pickle("./drugdef_name.pkl")
drugdef_name = drugdef_name.rename(columns={"Drug_Def": "Drug_Definitions(UMLS)"})
x3 = drugdef_name.reset_index()
x3 = x3.groupby(by='Drug_Definitions(UMLS)').agg('count')
x3 = x3.reset_index()
x3

   Drug_Definitions(UMLS)    CUI
0                       1  19396
1                       2   6005
2                       3   1551
3                       4    496
4                       5    210
5                       6     61
6                       7     13
7                       8      2
8                       9      1

In [6]:
FILEPATH = 'C:\\Users\\shinj\\OneDrive\\Desktop\\ShinjithaDesktop\\NLP\CUILESS\\cuiless\\semeval_2015_task14_updated\\data\\devel\\discharge'
files = listdir(FILEPATH)

<h2>CUI Count for Disease Mentions in SemEval dataset</h2>

In [7]:
F1 = "C:\\Users\\Shinj\\OneDrive\\Desktop\\UABinf\\diseasesh76.xlsx"

semeval = pd.read_excel(F1, header=None)
semeval.columns = ['DiseaseSynonyms_SemEval','CUI']
x4 = semeval.reset_index()
x4 = x4.groupby(by='DiseaseSynonyms_SemEval').agg('count')
x4 = x4.reset_index()
x4 = x4.drop(columns=['index'])
x4

    DiseaseSynonyms_SemEval  CUI
0                         1  541
1                         2  232
2                         3  123
3                         4   74
4                         5   41
5                         6   33
6                         7   26
7                         8   22
8                         9   20
9                        10   12
10                       11   12
11                       12    9
12                       13    8
13                       14    5
14                       15    9
15                       16   10
16                       17    5
17                       18    4
18                       19    2
19                       20    2
20                       21    3
21                       22    6
22                       23    3
23                       24    5
24                       25    1
25                       26    3
26                       27    3
27                       28    3
28                       29    2
29                       30    1
30                       31    2
31                       32    2
32                       34    2
33                       35    2
34                       36    1
35                       38    2
36                       40    1
37                       42    1
38                       43    1
39                       44    1
40                       47    1
41                       49    1
42                       52    1
43                       57    1
44                       61    1
45                       64    2
46                       66    1
47                       69    1
48                       71    1
49                       78    1
50                       95    1
51                       97    1
52                       99    1
53                      106    1
54                      113    1
55                      142    1

In [8]:
F2 = "C:\\Users\\Shinj\\OneDrive\\Desktop\\UABinf\\diseases_cui.xlsx"

diseases = pd.read_excel(F2, header=None)
diseases.columns = ['CUI']

<h2>CUI Count for Disease Mentions in UMLS with SemEval CUI's </h2>

In [9]:
CUI_dataframe = pd.read_pickle("./CUI_dataframe.pkl")
result = diseases.join(CUI_dataframe.set_index('CUI'), on='CUI')
sem_eval_CUI_count = result.groupby(by="CUI").count()
sem_eval_CUI_count = sem_eval_CUI_count.rename(columns={"Disease": "Disease_Mentions(UMLS)"})
x5 = sem_eval_CUI_count.reset_index()
x5 = x5.groupby(by='Disease_Mentions(UMLS)').agg('count')
x5 = x5.reset_index()
x5

    Disease_Mentions(UMLS)  CUI
0                        0   26
1                        1    5
2                        2  100
3                        3   93
4                        4   68
..                     ...  ...
62                      71    2
63                      73    1
64                      74    1
65                      75    1
66                     137    1

[67 rows x 2 columns]

<h2>CUI Count for Disease Definitions in UMLS with SemEval CUI's </h2>

In [10]:
Def_dataframe = pd.read_pickle("./Def_dataframe.pkl")
result = diseases.join(Def_dataframe.set_index('CUI'), on='CUI')
sem_eval_def = result.groupby(by="CUI").count()
sem_eval_def = sem_eval_def.rename(columns={"DEF": "Disease_Definitions(UMLS)"})
x6 = sem_eval_def.reset_index()
x6 = x6.groupby(by='Disease_Definitions(UMLS)').agg('count')
x6 = x6.reset_index()
x6

    Disease_Definitions(UMLS)  CUI
0                           0  450
1                           1  177
2                           2  138
3                           3  117
4                           4  105
5                           5   94
6                           6   70
7                           7   52
8                           8   31
9                           9   15
10                         10    2
11                         13    1

<h2>Code Count for Drug Mentions in Chemical Disease Relation dataset</h2>

In [11]:
F3 = "C:\\Users\\Shinj\\OneDrive\\Desktop\\UABinf\\drugs.xlsx"

drugs = pd.read_excel(F3, header=None)
drugs.columns = ['DrugSynonyms_CDR','Code']
x7 = drugs.reset_index()
x7 = x7.groupby(by='DrugSynonyms_CDR').agg('count')
x7 = x7.reset_index()
x7 = x7.drop(columns=['index'])
x7 = x7.to_excel("cdr.xlsx")

<h2>Code Count for Drug Mentions in UMLS with Chemical Disease Relation Codes  </h2>

In [12]:
drug_UMLS = pd.read_pickle("./sem_eval_drug.pkl")
drug_UMLS = drug_UMLS.drop(columns=['DrugSynonyms_CDR'])
drug_UMLS = drug_UMLS.reset_index()
drug_UMLS = drug_UMLS.groupby(by='DrugsynonymsUMLS').agg('count')
drug_UMLS = drug_UMLS.rename(columns={"DrugsynonymsUMLS" : "Drug_Mentions(UMLS)","Code": "Code_count"})
drug_UMLS = drug_UMLS.reset_index()
drug_UMLS = drug_UMLS.to_excel("cdrdisease.xlsx")

<h2>Code Count for Drug Definitions in UMLS with Chemical Disease Relation Codes  </h2>

In [13]:
drugdef_UMLS = pd.read_pickle("./sem_eval_drug_def.pkl")
drugdef_UMLS = drugdef_UMLS.drop(columns=['DrugSynonyms_CDR'])
drugdef_UMLS = drugdef_UMLS.reset_index()
drugdef_UMLS = drugdef_UMLS.groupby(by='DrugDefUMLS').agg('count')
drugdef_UMLS = drugdef_UMLS.rename(columns={"DrugDefUMLS" : "Drug_Definitions(UMLS)","Code": "Code_count(UMLS)"})
drugdef_UMLS = drugdef_UMLS.reset_index()
drugdef_UMLS = drugdef_UMLS.to_excel("cdrdrug.xlsx")